$White: hsl(0, 0%, 98%);
$Gray: hsl(0, 0%, 41%);
$Black: hsl(0, 0%, 8%);
* {
  font-family: "Epilogue", sans-serif;
  list-style: none;
  background-color: $White;
}
p {
  font-size: 18px;
}

.container {
  width: 390px;
  margin: 0 auto;
  align-items: center;

  @media (min-width: 750px) {
    width: 1200px;
    margin: 0 auto;
    align-items: center;
  }
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  @media (max-width: 750px) {
    justify-content: right;
  }
}
.navigation__list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: $Gray;
}
.navigation__list--item {
  font-size: 18px;
  font-weight: 500;
}
.navigation__container {
  display: flex;
  align-items: center;

  @media (max-width: 750px) {
    display: none;
  }
}
.navigation__btn--container {
  display: flex;
  gap: 20px;
  color: $Gray;
  @media (max-width: 750px) {
    display: none;
  }
}
.main__title {
  font-size: 38px;
}
.main__text {
  text-align: center;
  padding: 0 20px;
  margin-bottom: 20px;
  color: $Gray;

  @media (min-width: 750px) {
    padding: 0;
    text-align: left;
  }
}
.btn__menu {
  border-style: none;

  @media (min-width: 750px) {
    display: none;
  }
}
.main__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  @media (min-width: 750px) {
    flex-direction: row-reverse;
  }
}
.main__side {
  @media (min-width: 750px) {
    padding: 0 80px;
  }
}
.main__image--desktop {
  width: 100%;
  max-width: 390px;
  height: auto;
}
.btn__learn {
  background-color: $Black;
  color: $White;
  max-width: 200px;
  padding: 0 20px;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.main__logo {
  width: 70px;
  padding-right: 20px;
}
